header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: transparent;
  z-index: 1;
  &.active {
    backdrop-filter: saturate(180%) blur(20px);
    // background: rgba(20, 33, 61, 0.9);
    background: var(--color-bg-transparent);
    // background: var(--color-bg-dark-transparent);
  }
  ul {
    padding: 0;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    flex-wrap: wrap;
    li {
      list-style: none;
      a {
        padding: 1rem;
        color: var(--color-text);
        // color: var(--color-text-dark);
        text-decoration: none;
      }

      .theme-toggle {
        display: inline-flex;
        align-items: center;
        gap: .5em;
        padding: .43em .67em .23em .67em;
        border-radius: 99em;
        background-color: var(--theme-switch-bg);
        outline: 1px solid transparent;
        
        label {
          position: relative;
          // display: flex;
          // align-items: center;
          // justify-content: center;
          opacity: .5;
          cursor: pointer;
        }
        .checked {
          color: var(--color-orange);
          opacity: 1;
        }

        input {
          position: absolute;
          opacity: 0;
          inset: 0;
          z-index: -1;
        }
      }
    }
  }
}
